section.navigation {
    background-color: #525fe1;
}

section.navigation a.navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20pt;
}

section.navigation a.navbar-brand span {
    color: #f67001;
    text-shadow: 1px 0.8px 0.2px white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20pt;
}

section.navigation ul li.nav-item a.nav-link {
    font-size: 11pt;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

section.navigation ul li.nav-item a.nav-link :hover {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button.btn-login {
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f67001;
    border-color: #f67001;
    border-style: solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    font-weight: 500;
}

button.btn-register {
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    font-weight: 500;
}

button.btn-register:hover {
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f67001;
    border-color: white;
    border-style: solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    font-weight: 500;
}

.custom-toggler .navbar-toggler-icon {
    background-size: 40px;
    background-image: url("/images/list-icons.png");
}

.custom-toggler.navbar-toggler {
    border-color: #f67001;
}

section.jumbotron_ {
    background-color: white;
    min-height: 450px;
    padding-top: 30px;
}

section.jumbotron_ div.jumbotron-text h4 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #525fe1;
    font-weight: 700;
    font-size: 32pt;
}

section.jumbotron_ div.jumbotron-text p.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 10pt;
    margin-top: 30px;
}

button.btn-circle {
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    background-color: #f67001;
    color: white;
}

section.overview {
    padding-top: 30px;
    display: flex;
    position: relative;
    top: 10px;
    z-index: 1;
}

section.overview p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    text-align: left;
}

section.overview h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    text-align: left;
    font-weight: 600;
    color: black;
    text-shadow: 1px 0.8px 0.2px white;
}

div.curved-jumbotron {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
}

section.overview div.card {
    box-shadow: rgba(80, 88, 95, 0.9) 1px 0px 40px 1px;
    border-radius: 20px;
}

section.overview div.card h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-shadow: none;
    min-height: 40px;
    height: 40px;
}

section.about-us h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    color: black;
    font-weight: 600;
}

section.about-us p {
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
    color: black;
    font-weight: 400;
}

section.about-us div.card {
    box-shadow: rgba(80, 88, 95, 0.9) 1px 20px 50px 0.9px;
    border-radius: 20px;
    margin-bottom: 30px;
}

section.about-us div.card svg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}